:root {
    /*
        Variables de los colores principales de la biblioteca
    */

    --color-ivory: #fdfbf7;
    --color-forest: #2c4a3e;
    --color-forest-light: #3d6355;
    --color-terracotta: #d4a373;
    --color-terracotta-light: #e8c9a0;
    --color-terracotta-dark: #b8834a;
    --color-ink: #1a1a18;
    --color-muted: #6b6b62;
    --color-border: #e8e3d9;
    --color-surface: #f5f0e8;
    --color-rose-blush: #f9ede8;

    /*
        Variables de los colores de fondo de la biblioteca
    */

    --bg-body: var(--color-ivory); /* Fondo general claro */
    --bg-surface: var(--color-surface); /* Buscador, tarjetitas */
    --bg-dark-section: var(--color-forest); /* Secciones verdes */
    --bg-footer: var(--color-ink); /* Fondo del footer */

    /*
        Variables de los colores de texto de la biblioteca
    */

    --text-primary: var(--color-ink); /* Títulos oscuros sobre fondo claro */
    --text-muted: var(--color-muted); /* Textos secundarios o descriptivos */
    --text-accent: var(--color-terracotta); /* Subtítulos pequeños en mayúsculas */
    --text-on-dark: var(--color-ivory); /* Títulos sobre secciones verdes */

    /*
        Botones y Elementos interactivos
    */
    --btn-primary-bg: var(--color-terracotta-light);
    --btn-primary-text: var(--color-ink);
    --btn-outline-border: var(--color-ivory);
}

/*
    Variables de responsive
*/
$screen-tablet: 768px;
$screen-desktop: 1024px;

/*
    Variables de mixins
*/

@mixin tablet {
    @media (min-width: #{$screen-tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$screen-desktop}) {
        @content;
    }
}

/*
    Variables de tipografía
*/

$fuente-principal: 'Roboto', sans-serif;
$fuente-titulos: 'Playfair Display', serif;

$grosor-normal: 400;
$grosor-medio: 500;
$grosor-destacado: 700;
$grosor-black: 900;
