@use "../../../../../scss/base.scss";
@use "../../../../../scss/variables.scss" as *;

.caja-donacion{
display: flex;
display-wrap: wrap;
text-align: center;
align-items: center;
jusstify-content: center;
background-color: --bg-dark-section;
}

.caja-caja-donacion{
border: 2px solid;
background-color: --bg-body;

}
